.prdContainer {
  border: 1px solid #ddd;
  border-radius: 10px;
}
.prdImage {
  height: 300px;
  width: 100%;
  background-color: #ddd;
}
.prdName {
  text-align: left;
  border-bottom: 1px #ddd solid;
}
.details {
  border-left: 1px #ddd solid;
}
.smallDetails {
  text-align: left;
}
.btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
